/* loader styles */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.AuthComponentHeading {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}

.Auth {
  width: 30%;
  margin: 0 auto;
}

.AuthContainer {
  border: 1px solid #bdbdbd;
  border-radius: 18px;
  width: 100%;
  margin: 0 auto;
}

.LoginSwitchContainer p {
  font-size: 12px;
  color: #828282;
  text-align: center;
  margin-bottom: 30px;
}

.LoginSwitchContainer p span {
  color: #2f80ed;
  cursor: pointer;
  margin-left: 3px;
}

.AuthHeading {
  text-align: center;
  margin: 30px 0 20px 0;
}

.InputGroupContainer,
.AddPhotoParent {
  /* border: 1px solid cyan; */
  width: 70%;
  margin: 0 auto;
}

.InputGroup {
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  display: flex;
  align-items: center;
  /* margin: 3px 0 20px 0; */
  height: 38px;
}

.InputDisplay {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: transparent;
  color: #eee;
  font-size: 16px;
  /* border: 1px solid red; */
}

.InputDisplay::placeholder {
  color: #828282;
}

.InputGroup i {
  width: 10%;
  font-size: 20px;
  color: #828282;
  margin-left: 10px;
}

.ErrorMsg {
  color: tomato;
  font-style: italic;
  font-size: 12px;
}

.AddPhotoParent {
  /* border: 1px solid yellow; */
  margin-bottom: 20px;
}

.AddPhotoContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  /* border: 1px solid cyan; */
}

.AddPhoto {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 40%; */
}

.AddPhoto i {
  margin-left: 10px;
  font-size: 20px;
  opacity: 0.5;
}

.PhotoLabel {
  /* border: 1px solid cyan; */
  margin-left: 20px;
  border-radius: 5px;
  width: 60%;
}

.PhotoLabel label {
  cursor: pointer;
  margin: 5px 0 0 0 0;
  padding: 0;
  /* border: 1px solid yellow; */
  /* Style as you please, it will become the visible UI component. */
}

.ButtonContainer {
  /* border: 1px solid #bdbdbd; */
  width: 70%;
  margin: 0 auto 30px auto;
}

.ButtonContainer button {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  background: #885393;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  /* border: 1px solid yellow; */
  /* width: 285px; */
}

.CopyRightContainer {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #828282;
  font-size: 14px;
}

/* mobile screen responsiveness */
@media only screen and (min-width: 320px) and (max-width: 414px) {
  .AuthComponentHeading {
    font-size: 30px;
  }

  .Auth {
    width: 80%;
  }
}

/* ipad screen responsiveness */
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  .Auth {
    width: 70%;
  }
}
